<!DOCTYPE html>
<html lang="zh-Hans-CN">

<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <title>《斗破之韩枫的复仇》KIALA_同人小说_最新章节免费在线阅读 - 搬山人小说网</title>
    <meta name="description" content="《斗破之韩枫的复仇》是KIALA创作的同人小说，连载中，共20章约32万字。最新章节：第20章 丹塔迷情（二）。我……已经死掉了吗……败在了萧炎那小子的手里……不甘心…我……还有好多事情没来得及做。想要离开这暗无天日的黑角域，去闯荡中洲，然后遇上喜欢的人，过幸福的生活………搬山人小说网提供全文免费在线阅读。">
    <meta name="keywords" content="斗破之韩枫的复仇,斗破之韩枫的复仇KIALA,斗破之韩枫的复仇最新章节,斗破之韩枫的复仇全文阅读,KIALA,同人小说,免费小说,在线阅读,搬山人小说网">
    <link rel="canonical" href="https://www.banshanren.com/novel/doupozhihanfengdefuchou">
    <meta property="og:type" content="book">
    <meta property="og:title" content="《斗破之韩枫的复仇》KIALA - 搬山人小说网">
    <meta property="og:description" content="我……已经死掉了吗……败在了萧炎那小子的手里……不甘心…我……还有好多事情没来得及做。想要离开这暗无天日的黑角域，去闯荡中洲，然后遇上喜欢的人，过幸福的生活……我的愿望仅此而已……还有……赌上了我和师父的一切，想成为大陆最强的愿望……哪怕在死之前，品尝一次恋爱的滋味，这样也好啊……">
    <meta property="og:image" content="https://cdn.banshanren.com/file/s-media/image/cover/8f91e06331cf42f79d87208a6eac5134.webp">
    <meta property="og:url" content="http://www.banshanren.com/novel/doupozhihanfengdefuchou">
    <meta property="og:site_name" content="搬山人小说网">
    <meta name="twitter:card" content="summary_large_image">
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Book",
      "name": "斗破之韩枫的复仇",
      "author": {"@type": "Person", "name": "KIALA"},
      "description": "我……已经死掉了吗……败在了萧炎那小子的手里……不甘心…我……还有好多事情没来得及做。想要离开这暗无天日的黑角域，去闯荡中洲，然后遇上喜欢的人，过幸福的生活……我的愿望仅此而已……还有……赌上了我和师父的一切，想成为大陆最强的愿望……哪怕在死之前，品尝一次恋爱的滋味，这样也好啊……",
      "genre": "同人",
      "url": "http://www.banshanren.com/novel/doupozhihanfengdefuchou",
      "image": "https://cdn.banshanren.com/file/s-media/static/image/cover.webp",
      "inLanguage": "zh-Hans",
      "bookFormat": "https://schema.org/EBook",
      "publisher": {"@type": "Organization", "name": "搬山人小说网"},
      "datePublished": "2026-07-11",
      "dateModified": "2026-07-11"
    }
    </script>
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [
        {"@type": "ListItem", "position": 1, "name": "首页", "item": "http://www.banshanren.com/"},
        {"@type": "ListItem", "position": 2, "name": "同人", "item": "http://www.banshanren.com/all/0-15-0-0-0-0-1-1/"},
        {"@type": "ListItem", "position": 3, "name": "斗破之韩枫的复仇", "item": "http://www.banshanren.com/novel/doupozhihanfengdefuchou"}
      ]
    }
    </script>
    <link rel="stylesheet" href="https://cdn.banshanren.com/file/s-media/static/css/theme/dark.css?v=202601021019" type="text/css">
    <link rel="stylesheet" href="https://cdn.banshanren.com/file/s-media/static/css/main.css?v=202601021019" type="text/css" media="all"/>
    <link rel="stylesheet" href="https://cdn.banshanren.com/file/s-media/static/css/list.css?v=202601021019" type="text/css"/>
    <link rel="stylesheet" href="https://cdn.banshanren.com/file/s-media/static/css/novel/novel.css?v=202601021019" type="text/css"/>
    <link rel="stylesheet" href="https://cdn.banshanren.com/file/s-media/static/css/toastr.min.css" type="text/css"/>
    <script src="https://cdn.banshanren.com/file/s-media/static/js/jquery.min.js"></script>
    <script src="https://cdn.banshanren.com/file/s-media/static/js/validator.min.js"></script>
    <script src="https://cdn.banshanren.com/file/s-media/static/js/crypto-js.min.js"></script>
    <script src="https://cdn.banshanren.com/file/s-media/static/js/pubsub.js"></script>
    <script src="https://cdn.banshanren.com/file/s-media/static/js/toastr.min.js"></script>
    <script src="https://cdn.banshanren.com/file/s-media/static/js/store2.min.js"></script>
    <script src="https://cdn.banshanren.com/file/s-media/static/js/template-web.js"></script>
    <script src="https://cdn.banshanren.com/file/s-media/static/js/common.js?v=202601021019"></script>
    <script src="https://cdn.banshanren.com/file/s-media/static/js/novel/novel.js?v=202601021019"></script>
    <script src="https://cdn.banshanren.com/file/s-media/static/js/decrypt.worker.js?v=202601021019"></script>
</head>

<body>
<div class="head_box">
    <div class="content_box">
        <div class="logo_box">
            <a href="/" title="搬山人首页"><img src="https://cdn.banshanren.com/file/s-media/static/image/dark/logo.png" alt="搬山人图标" /></a>
        </div>
        <div class="center_box">
            <img src="https://cdn.banshanren.com/file/s-media/static/image/dark/index_search_icon.svg" onclick="toggleSearch()" alt="搜索" />
                <img src="https://cdn.banshanren.com/file/s-media/static/image/dark/unlogin_icon.svg" onclick="toggleLogin()" alt="未登录" />
            <img src="https://cdn.banshanren.com/file/s-media/static/image/dark/menu_icon.svg" onclick="toggleMenu(event)" alt="个人中心" />
        </div>
    </div>
</div><div class="navigation_box">
    <ul>
        <li><a class="" href="/">首页</a></li>
        <li><a class="" href="/all/0-0-0-0-0-0-1-1/">全部小说</a></li>
        <li><a class="" href="/plan">搬山人计划</a></li>
        <li><a class="" href="/rank">排行榜</a></li>
    </ul>
</div><div class="main_box">
<div class="search_box hide">
    <form class="search_input_box" action="/search/index" onsubmit="checkSearch(event)"
          style="background: var(--search-box-color) url('https://cdn.banshanren.com/file/s-media/static/image/dark/search_icon.svg') no-repeat 0.8rem 9px;" onfocus="showClose(this)">
        <div id="search_close" class="close" onclick="closeSearch()">
            <img src="https://cdn.banshanren.com/file/s-media/static/image/dark/close_icon.svg" alt="关闭">
        </div>
        <input type="search" placeholder="请输入书名/作者" name="keyword" value=""/>
    </form>
    <p>热搜记录</p>
    <ul class="search_hot_box novel_list">
            <li class="novel_li">
                <a href="/novel/lvguangdouluo" class="cover_box" title="绿光斗罗">
                    <img class="sm encrypted-image" src="https://cdn.banshanren.com/file/s-media/static/image/loading.jpg" data-src="https://cdn.banshanren.com/file/s-media/image/cover/63041f0ea471418b8ca7bf25b2260914.webp"
                         alt="绿光斗罗"/>
                    <div class="cover_line sm"></div>
                </a>
                <div class="rank_box">
                    <span>1</span>
                </div>
                <div class="title_box">
                    <a href="/novel/lvguangdouluo" class="title">绿光斗罗</a>
                    <div class="info_box">
                        潮丞相
                    </div>
                    <div class="info_box">
                        完结 · 714章
                        · 176万字
                    </div>
                </div>
            </li>
            <li class="novel_li">
                <a href="/novel/lvaizhigaoguimeiyan" class="cover_box" title="绿爱之高贵美艳的丝袜舞蹈老师妈妈">
                    <img class="sm encrypted-image" src="https://cdn.banshanren.com/file/s-media/static/image/loading.jpg" data-src="https://cdn.banshanren.com/file/s-media/image/cover/f9ee9d8ad61b4701a878be629050b074.webp"
                         alt="绿爱之高贵美艳的丝袜舞蹈老师妈妈"/>
                    <div class="cover_line sm"></div>
                </a>
                <div class="rank_box">
                    <span>2</span>
                </div>
                <div class="title_box">
                    <a href="/novel/lvaizhigaoguimeiyan" class="title">绿爱之高贵美艳的丝袜舞蹈老师妈妈</a>
                    <div class="info_box">
                        寒冰ら
                    </div>
                    <div class="info_box">
                        完结 · 145章
                        · 72万字
                    </div>
                </div>
            </li>
            <li class="novel_li">
                <a href="/novel/douluodalu4longshenyin" class="cover_box" title="斗罗大陆4龙神淫">
                    <img class="sm encrypted-image" src="https://cdn.banshanren.com/file/s-media/static/image/loading.jpg" data-src="https://cdn.banshanren.com/file/s-media/image/cover/426a8d52db76421c85e134da5d4e115f.webp"
                         alt="斗罗大陆4龙神淫"/>
                    <div class="cover_line sm"></div>
                </a>
                <div class="rank_box">
                    <span>3</span>
                </div>
                <div class="title_box">
                    <a href="/novel/douluodalu4longshenyin" class="title">斗罗大陆4龙神淫</a>
                    <div class="info_box">
                        文霸天
                    </div>
                    <div class="info_box">
                        连载中 · 81章
                        · 43万字
                    </div>
                </div>
            </li>
            <li class="novel_li">
                <a href="/novel/mamadeyutun" class="cover_box" title="妈妈的欲臀">
                    <img class="sm encrypted-image" src="https://cdn.banshanren.com/file/s-media/static/image/loading.jpg" data-src="https://cdn.banshanren.com/file/s-media/image/cover/ee582c113f9a4ee1b2f8d288860483e8.webp"
                         alt="妈妈的欲臀"/>
                    <div class="cover_line sm"></div>
                </a>
                <div class="rank_box">
                    <span>4</span>
                </div>
                <div class="title_box">
                    <a href="/novel/mamadeyutun" class="title">妈妈的欲臀</a>
                    <div class="info_box">
                        佚名
                    </div>
                    <div class="info_box">
                        连载中 · 46章
                        · 30万字
                    </div>
                </div>
            </li>
            <li class="novel_li">
                <a href="/novel/douluodalu2canyin" class="cover_box" title="斗罗大陆2蚕淫">
                    <img class="sm encrypted-image" src="https://cdn.banshanren.com/file/s-media/static/image/loading.jpg" data-src="https://cdn.banshanren.com/file/s-media/image/cover/17f9af53af4242b3ad279d45efce298e.webp"
                         alt="斗罗大陆2蚕淫"/>
                    <div class="cover_line sm"></div>
                </a>
                <div class="rank_box">
                    <span>5</span>
                </div>
                <div class="title_box">
                    <a href="/novel/douluodalu2canyin" class="title">斗罗大陆2蚕淫</a>
                    <div class="info_box">
                        小六六
                    </div>
                    <div class="info_box">
                        连载中 · 172章
                        · 89万字
                    </div>
                </div>
            </li>
            <li class="novel_li">
                <a href="/novel/gaoguimeiyandesiwawudaolaoshimamawulvgai" class="cover_box" title="高贵美艳的丝袜舞蹈老师妈妈（无绿改）">
                    <img class="sm encrypted-image" src="https://cdn.banshanren.com/file/s-media/static/image/loading.jpg" data-src="https://cdn.banshanren.com/file/s-media/image/cover/0ab57e02945a44349169a730bd1128fc.webp"
                         alt="高贵美艳的丝袜舞蹈老师妈妈（无绿改）"/>
                    <div class="cover_line sm"></div>
                </a>
                <div class="rank_box">
                    <span>6</span>
                </div>
                <div class="title_box">
                    <a href="/novel/gaoguimeiyandesiwawudaolaoshimamawulvgai" class="title">高贵美艳的丝袜舞蹈老师妈妈（无绿改）</a>
                    <div class="info_box">
                        江南大刀2012
                    </div>
                    <div class="info_box">
                        完结 · 138章
                        · 65万字
                    </div>
                </div>
            </li>
            <li class="novel_li">
                <a href="/novel/douluozhongmeididuoluo" class="cover_box" title="斗罗众美的堕落">
                    <img class="sm encrypted-image" src="https://cdn.banshanren.com/file/s-media/static/image/loading.jpg" data-src="https://cdn.banshanren.com/file/s-media/image/cover/fb9b82a7bcad4c22add030a98d2e36d3.webp"
                         alt="斗罗众美的堕落"/>
                    <div class="cover_line sm"></div>
                </a>
                <div class="rank_box">
                    <span>7</span>
                </div>
                <div class="title_box">
                    <a href="/novel/douluozhongmeididuoluo" class="title">斗罗众美的堕落</a>
                    <div class="info_box">
                        月曜云烟
                    </div>
                    <div class="info_box">
                        完结 · 9章
                        · 25万字
                    </div>
                </div>
            </li>
            <li class="novel_li">
                <a href="/novel/cuimiankapian" class="cover_box" title="催眠卡片">
                    <img class="sm encrypted-image" src="https://cdn.banshanren.com/file/s-media/static/image/loading.jpg" data-src="https://cdn.banshanren.com/file/s-media/image/cover/b7856d672c2b4a3f92863b9db8489d0d.webp"
                         alt="催眠卡片"/>
                    <div class="cover_line sm"></div>
                </a>
                <div class="rank_box">
                    <span>8</span>
                </div>
                <div class="title_box">
                    <a href="/novel/cuimiankapian" class="title">催眠卡片</a>
                    <div class="info_box">
                        梅川伊芙
                    </div>
                    <div class="info_box">
                        连载中 · 15章
                        · 28万字
                    </div>
                </div>
            </li>
            <li class="novel_li">
                <a href="/novel/douluodaluwangxiangchuan" class="cover_box" title="斗罗大陆妄想传">
                    <img class="sm encrypted-image" src="https://cdn.banshanren.com/file/s-media/static/image/loading.jpg" data-src="https://cdn.banshanren.com/file/s-media/image/cover/6b468add246f461bbae0cac7115ecd2d.webp"
                         alt="斗罗大陆妄想传"/>
                    <div class="cover_line sm"></div>
                </a>
                <div class="rank_box">
                    <span>9</span>
                </div>
                <div class="title_box">
                    <a href="/novel/douluodaluwangxiangchuan" class="title">斗罗大陆妄想传</a>
                    <div class="info_box">
                        nanze17
                    </div>
                    <div class="info_box">
                        连载中 · 9章
                        · 5万字
                    </div>
                </div>
            </li>
            <li class="novel_li">
                <a href="/novel/douluozhijueshiniuniu" class="cover_box" title="斗罗之绝世牛牛">
                    <img class="sm encrypted-image" src="https://cdn.banshanren.com/file/s-media/static/image/loading.jpg" data-src="https://cdn.banshanren.com/file/s-media/image/cover/c442d411e82e4c0eb8db79c0d06d1b98.webp"
                         alt="斗罗之绝世牛牛"/>
                    <div class="cover_line sm"></div>
                </a>
                <div class="rank_box">
                    <span>10</span>
                </div>
                <div class="title_box">
                    <a href="/novel/douluozhijueshiniuniu" class="title">斗罗之绝世牛牛</a>
                    <div class="info_box">
                        花Q
                    </div>
                    <div class="info_box">
                        连载中 · 172章
                        · 46万字
                    </div>
                </div>
            </li>
    </ul>
</div><div class="menu_box" onclick="menuClickMonitor(event)">
    <ul>
        <li><a href="/">首页</a></li>
            <li>
                <span onclick="toggleLogin()">登录/注册</span>
            </li>
        <li><a href="/top-up">储值</a></li>
        <li><a href="/all/0-0-0-0-0-0-1-1/">全部小说</a></li>
        <li><a href="/plan" title="搬山人计划">搬<img class="shan" src="https://cdn.banshanren.com/file/s-media/static/image/dark/shan_icon.svg" title="山"/>人计划</a>
        <li><a href="/rank">排行榜</a></li>
        </li>
    </ul>
</div>
    <div class="bread_crumbs_box">
        <a href="/">首页</a>
        <img src="https://cdn.banshanren.com/file/s-media/static/image/dark/go_icon.svg" alt="分割"/>
        <a href="/all/0-15-0-0-0-0-1-1/">同人</a>
        <img src="https://cdn.banshanren.com/file/s-media/static/image/dark/go_icon.svg" alt="分割"/>
        <a href="/novel/doupozhihanfengdefuchou">斗破之韩枫的复仇</a>
    </div>
    <div class="novel_box" data-nid="1273221589953265664">
        <div class="novel_brief_box">
            <div class="cover_box">
                <img class="cover encrypted-image" src="https://cdn.banshanren.com/file/s-media/static/image/loading.jpg" data-src="https://cdn.banshanren.com/file/s-media/image/cover/8f91e06331cf42f79d87208a6eac5134.webp"
                     alt="斗破之韩枫的复仇" fetchpriority="high"/>
                <div class="cover_line"></div>
            </div>
            <div class="novel_title_box">
                <h1>斗破之韩枫的复仇</h1>
                <div class="info_box">
                    <img src="https://cdn.banshanren.com/file/s-media/static/image/dark/thumbs_up_icon.svg" alt="推荐度"/>
                    <span>推荐度 76%</span>
                        <img src="https://cdn.banshanren.com/file/s-media/static/image/bronze_icon.svg" alt="银牌"/>
                    <p onclick="anchorToComment(this)">共0条评论<img
                                src="https://cdn.banshanren.com/file/s-media/static/image/dark/comment_go_icon.svg" alt="前往"/></p>
                </div>
                <div class="info_box">
                    <span class="hl" title="作者">KIALA</span>
                </div>
                <ul class="category_list">
                        <li><a href="/all/0-0-2-0-0-0-1-1/"
                               title="同人">大人系</a></li>
                    <li><a href="/all/0-15-0-0-0-0-1-1/"
                           title="同人">同人</a></li>
                </ul>
                <div class="novel_summary_box pc">
                    <div>
                        <p><b>1.4千</b>次</p>
                        <p>阅读</p>
                    </div>
                    <div>
                        <p><b>7</b>人</p>
                        <p>加入书架</p>
                    </div>
                    <div>
                        <p><b>20</b></p>
                        <p>章节</p>
                    </div>
                    <div>
                        <p><b>32万</b>字</p>
                        <p class="serializing hl"><img src="https://cdn.banshanren.com/file/s-media/static/image/dark/serializing_icon.svg"
                                                       alt="完结状态"/>连载中
                        </p>
                    </div>
                </div>
                <div class="novel_intro_box pc">
                    <p>我……已经死掉了吗……败在了萧炎那小子的手里……不甘心…我……还有好多事情没来得及做。想要离开这暗无天日的黑角域，去闯荡中洲，然后遇上喜欢的人，过幸福的生活……我的愿望仅此而已……还有……赌上了我和师父的一切，想成为大陆最强的愿望……哪怕在死之前，品尝一次恋爱的滋味，这样也好啊……</p>
                    <p class="hl">显示更多<img src="https://cdn.banshanren.com/file/s-media/static/image/dark/arrow_down_icon.svg" alt="更多"/></p>
                </div>
                <ul class="novel_tag_list pc">
                        <li><a href="/all/0-0-0-0-0-20-1-1/"
                               title="肉文">#肉文</a></li>
                        <li><a href="/all/0-0-0-0-0-37-1-1/"
                               title="异世界">#异世界</a></li>
                        <li><a href="/all/0-0-0-0-0-38-1-1/"
                               title="NTL">#NTL</a></li>
                        <li><a href="/all/0-0-0-0-0-28-1-1/"
                               title="后宫">#后宫</a></li>
                </ul>
                <div class="novel_read_box pc">
                        <a class="read_btn" href="/novel/doupozhihanfengdefuchou/1273258741738767170">开始阅读</a>
                        <div class="add shelf_box" onclick="collect(this, 'https://cdn.banshanren.com/file/s-media/static', 'dark', '1273221589953265664')">
                            <img src="https://cdn.banshanren.com/file/s-media/static/image/add_shelf_icon.svg" alt="书架"/>
                            <span>加入书架</span>
                        </div>
                </div>
            </div>
        </div>
        <div class="novel_summary_box h5">
            <div>
                <p><b>1.4千</b>次</p>
                <p>阅读</p>
            </div>
            <div>
                <p><b>7</b>人</p>
                <p>加入书架</p>
            </div>
            <div>
                <p><b>20</b></p>
                <p>章节</p>
            </div>
            <div>
                <p><b>32万</b>字</p>
                <p class="serializing hl"><img src="https://cdn.banshanren.com/file/s-media/static/image/dark/serializing_icon.svg"
                                               alt="完结状态"/>连载中</p>
            </div>
        </div>
        <div class="novel_intro_box h5">
            <p>我……已经死掉了吗……败在了萧炎那小子的手里……不甘心…我……还有好多事情没来得及做。想要离开这暗无天日的黑角域，去闯荡中洲，然后遇上喜欢的人，过幸福的生活……我的愿望仅此而已……还有……赌上了我和师父的一切，想成为大陆最强的愿望……哪怕在死之前，品尝一次恋爱的滋味，这样也好啊……</p>
            <p class="hl" onclick="toggleBrief(this)">显示更多<img src="https://cdn.banshanren.com/file/s-media/static/image/dark/arrow_down_icon.svg" alt="更多"/></p>
        </div>
        <ul class="novel_tag_list h5">
                <li><a href="/all/0-0-0-0-0-20-0-1/"
                       title="肉文">#肉文</a></li>
                <li><a href="/all/0-0-0-0-0-37-0-1/"
                       title="异世界">#异世界</a></li>
                <li><a href="/all/0-0-0-0-0-38-0-1/"
                       title="NTL">#NTL</a></li>
                <li><a href="/all/0-0-0-0-0-28-0-1/"
                       title="后宫">#后宫</a></li>
        </ul>

        <div class="novel_excerpt_box">
            <h2>《斗破之韩枫的复仇》开篇试读</h2>
            <p>我……已经死掉了吗……败在了萧炎那小子的手里……
不甘心…我……还有好多事情没来得及做。
想要离开这暗无天日的黑角域，去闯荡中洲，然后遇上喜欢的人，过幸福的生活……我的愿望仅此而已……
还有……赌上了我和师父的一切，想成为大陆最强的愿望……
哪怕在死之前，品尝一次恋爱的滋味，这样也好啊……
可笑的是，到死之前我居然一次都没有爱过别人。
也许我的心天生就失去了这个机能吧。不，那是父母死掉之后才……
我想要的一切，明明什么都没有得到。
我的人生，一开始就被毁掉了。
明明还有补救的机会，我一直在等…可那该死的萧炎破坏了我的未来。
不甘心不甘心不甘心不甘心！
我会复活。
复活之后把他珍爱的一切都毁掉！</p>
            <a class="read_more hl" href="/novel/doupozhihanfengdefuchou/1273258741738767170">阅读全文 &gt;</a>
        </div>

        <div class="novel_tab_box">
            <div class="tab_box">
                <div class="active" onclick="toggleTab(this, 0)">目录</div>
                <div class="total" onclick="toggleTab(this, 1)">评论 (0)</div>
            </div>
            <div class="interactive_box">
                    <div onclick="toggleLogin()">催更</div>
                <div onclick="toggleLogin()">举报</div>
            </div>
        </div>
    </div>
    <div class="catalog_box">
        <div class="catalog_top_box">
            <div>
                <p>最新章节：<span class="hl">第20章 丹塔迷情（二）</span>
                    <img src="https://cdn.banshanren.com/file/s-media/static/image/dark/new_icon.svg" alt="最新章节"/>
                </p>
                <p>2026.11.07</p>
            </div>
            <div>
                排序<img src="https://cdn.banshanren.com/file/s-media/static/image/dark/asc_icon.svg" alt="排序" onclick="sortCatalog(this)"/>
            </div>
        </div>
        <div class="volume_box">
            <ul class="chapter_list">
                        <li>
                            <div><a href="/novel/doupozhihanfengdefuchou/1273258741738767170"
                                    title="第1章 重生之欲焰">第1章 重生之欲焰</a>
                                <p>2026.11.07</p>
                            </div>
                            <span>
                                    游客
                            </span>
                        </li>
                        <li>
                            <div><a href="/novel/doupozhihanfengdefuchou/1273258741738767171"
                                    title="第2章 美杜莎女皇">第2章 美杜莎女皇</a>
                                <p>2026.11.07</p>
                            </div>
                            <span>
                                    游客
                            </span>
                        </li>
                        <li>
                            <div><a href="/novel/doupozhihanfengdefuchou/1273258741742961476"
                                    title="第3章 女皇沦陷">第3章 女皇沦陷</a>
                                <p>2026.11.07</p>
                            </div>
                            <span>
                                    游客
                            </span>
                        </li>
                        <li>
                            <div><a href="/novel/doupozhihanfengdefuchou/1273258741747155781"
                                    title="第4章 淫掠花宗">第4章 淫掠花宗</a>
                                <p>2026.11.07</p>
                            </div>
                            <span>
                                    游客
                            </span>
                        </li>
                        <li>
                            <div><a href="/novel/doupozhihanfengdefuchou/1273258741751350086"
                                    title="第5章 重回加玛帝国">第5章 重回加玛帝国</a>
                                <p>2026.11.07</p>
                            </div>
                            <span>
                                    游客
                            </span>
                        </li>
                        <li>
                            <div><a href="/novel/doupozhihanfengdefuchou/1273258741751350087"
                                    title="第6章 古界突破">第6章 古界突破</a>
                                <p>2026.11.07</p>
                            </div>
                            <span>
                                    游客
                            </span>
                        </li>
                        <li>
                            <div><a href="/novel/doupozhihanfengdefuchou/1273258741755544392"
                                    title="第7章 绝望圣女">第7章 绝望圣女</a>
                                <p>2026.11.07</p>
                            </div>
                            <span>
                                    游客
                            </span>
                        </li>
                        <li>
                            <div><a href="/novel/doupozhihanfengdefuchou/1273258741759738697"
                                    title="第8章 龙魂金火">第8章 龙魂金火</a>
                                <p>2026.11.07</p>
                            </div>
                            <span>
                                    游客
                            </span>
                        </li>
                        <li>
                            <div><a href="/novel/doupozhihanfengdefuchou/1273258741763933002"
                                    title="第9章 龙魂金火番外补充篇——肉便器紫妍的肏屄日常">第9章 龙魂金火番外补充篇——肉便器紫妍的肏屄日常</a>
                                <p>2026.11.07</p>
                            </div>
                            <span>
                                    游客
                            </span>
                        </li>
                        <li>
                            <div><a href="/novel/doupozhihanfengdefuchou/1273258741768127307"
                                    title="第10章 龙殿选婿">第10章 龙殿选婿</a>
                                <p>2026.11.07</p>
                            </div>
                            <span>
                                    游客
                            </span>
                        </li>
                        <li>
                            <div><a href="/novel/doupozhihanfengdefuchou/1273258741768127308"
                                    title="第11章 寻龙之旅">第11章 寻龙之旅</a>
                                <p>2026.11.07</p>
                            </div>
                            <span>
                                    游客
                            </span>
                        </li>
                        <li>
                            <div><a href="/novel/doupozhihanfengdefuchou/1273258741772321613"
                                    title="第12章 邪龙的戏谑">第12章 邪龙的戏谑</a>
                                <p>2026.11.07</p>
                            </div>
                            <span>
                                    游客
                            </span>
                        </li>
                        <li>
                            <div><a href="/novel/doupozhihanfengdefuchou/1273258741776515918"
                                    title="第13章 苍炎重燃">第13章 苍炎重燃</a>
                                <p>2026.11.07</p>
                            </div>
                            <span>
                                    游客
                            </span>
                        </li>
                        <li>
                            <div><a href="/novel/doupozhihanfengdefuchou/1273258741780710223"
                                    title="第14章 浴火焚心">第14章 浴火焚心</a>
                                <p>2026.11.07</p>
                            </div>
                            <span>
                                    游客
                            </span>
                        </li>
                        <li>
                            <div><a href="/novel/doupozhihanfengdefuchou/1273258741780710224"
                                    title="第15章 爱之淫">第15章 爱之淫</a>
                                <p>2026.11.07</p>
                            </div>
                            <span>
                                    游客
                            </span>
                        </li>
                        <li>
                            <div><a href="/novel/doupozhihanfengdefuchou/1273258741784904529"
                                    title="第16章 再见海王城">第16章 再见海王城</a>
                                <p>2026.11.07</p>
                            </div>
                            <span>
                                    游客
                            </span>
                        </li>
                        <li>
                            <div><a href="/novel/doupozhihanfengdefuchou/1273258741789098834"
                                    title="第17章 爆肏青鳞">第17章 爆肏青鳞</a>
                                <p>2026.11.07</p>
                            </div>
                            <span>
                                    游客
                            </span>
                        </li>
                        <li>
                            <div><a href="/novel/doupozhihanfengdefuchou/1273258741789098835"
                                    title="第18章 青鳞成奴">第18章 青鳞成奴</a>
                                <p>2026.11.07</p>
                            </div>
                            <span>
                                    游客
                            </span>
                        </li>
                        <li>
                            <div><a href="/novel/doupozhihanfengdefuchou/1273258741793293140"
                                    title="第19章 丹塔迷情（一）">第19章 丹塔迷情（一）</a>
                                <p>2026.11.07</p>
                            </div>
                            <span>
                                    游客
                            </span>
                        </li>
                        <li>
                            <div><a href="/novel/doupozhihanfengdefuchou/1273258741797487445"
                                    title="第20章 丹塔迷情（二）">第20章 丹塔迷情（二）</a>
                                <p>2026.11.07</p>
                            </div>
                            <span>
                                    游客
                            </span>
                        </li>
            </ul>
        </div>

    </div>
    <div class="novel_comment_box hide">
        <form id="comment_form" class="comment_form_box" onsubmit="sendComment(event)">
            <input type="hidden" name="recommend" value="1">
            <p>撰写书评</p>
            <p>推荐《斗破之韩枫的复仇》吗？</p>
            <div class="thumbs_box">
                <div><img src="https://cdn.banshanren.com/file/s-media/static/image/dark/comment_thumbs_up_active_icon.svg" alt="推荐"
                          onclick="chooseRecommend(1,'https://cdn.banshanren.com/file/s-media/static/image/dark/')"/></div>
                <div><img src="https://cdn.banshanren.com/file/s-media/static/image/dark/comment_thumbs_down_icon.svg" alt="不推荐"
                          onclick="chooseRecommend(2,'https://cdn.banshanren.com/file/s-media/static/image/dark/')"/></div>
            </div>
            <textarea name="content" placeholder="添加评论不少于10字" maxlength="260"
                      oninput="commentInput(this)"></textarea>
            <div class="input_count_box">已输入<span>0</span>字</div>
            <button type="submit">提交</button>
        </form>
        <div class="comment_box">
            <div class="comment_head_box">
                <div class="count">
                    <span>评论（0）</span>
                </div>
                <div class="tabs">
                    <span class="active" onclick="sortComments(this, 2)">最热</span>&nbsp;&nbsp;
                    <span onclick="sortComments(this, 1)">最新</span>
                </div>
            </div>
            <div class="comment_content_box">
            </div>
            <div class="comment_pagination_box">
            </div>
        </div>
    </div>
    <div class="relational_box">
        <p>相关小说</p>
        <ul class="relational_novel_list">
<li>
    <a href="/novel/dadifengyunchuan" title="大地风云传">
        <div class="cover_box">
            <img class="cover encrypted-image" src="https://cdn.banshanren.com/file/s-media/static/image/loading.jpg" data-src="https://cdn.banshanren.com/file/s-media/image/cover/91673823f9c841fa886e326774095699.webp" alt="大地风云传"/>
            <div class="cover_line"></div>
        </div>
        <div class="brief_box">
            <p>大地风云传</p>
            <div>
                <img src="https://cdn.banshanren.com/file/s-media/static/image/dark/thumbs_up_icon.svg" alt="推荐度" />
                <span>推荐度 76%</span>
            </div>
        </div>
    </a>
</li><li>
    <a href="/novel/lvdiyinqichuan" title="绿帝淫妻传">
        <div class="cover_box">
            <img class="cover encrypted-image" src="https://cdn.banshanren.com/file/s-media/static/image/loading.jpg" data-src="https://cdn.banshanren.com/file/s-media/image/cover/8d40a50d599748b98b01c289cab78d6f.webp" alt="绿帝淫妻传"/>
            <div class="cover_line"></div>
        </div>
        <div class="brief_box">
            <p>绿帝淫妻传</p>
            <div>
                <img src="https://cdn.banshanren.com/file/s-media/static/image/dark/thumbs_up_icon.svg" alt="推荐度" />
                <span>推荐度 76%</span>
            </div>
        </div>
    </a>
</li><li>
    <a href="/novel/beidehunshadian" title="背德婚纱店">
        <div class="cover_box">
            <img class="cover encrypted-image" src="https://cdn.banshanren.com/file/s-media/static/image/loading.jpg" data-src="https://cdn.banshanren.com/file/s-media/image/cover/76b5a028d60a4d36b33698baa240b188.webp" alt="背德婚纱店"/>
            <div class="cover_line"></div>
        </div>
        <div class="brief_box">
            <p>背德婚纱店</p>
            <div>
                <img src="https://cdn.banshanren.com/file/s-media/static/image/dark/thumbs_up_icon.svg" alt="推荐度" />
                <span>推荐度 76%</span>
            </div>
        </div>
    </a>
</li><li>
    <a href="/novel/wodemoshinvshenshifengdui" title="我的末世女神侍奉队">
        <div class="cover_box">
            <img class="cover encrypted-image" src="https://cdn.banshanren.com/file/s-media/static/image/loading.jpg" data-src="https://cdn.banshanren.com/file/s-media/image/cover/42787dac19574e0a84bb31bbc16f2346.webp" alt="我的末世女神侍奉队"/>
            <div class="cover_line"></div>
        </div>
        <div class="brief_box">
            <p>我的末世女神侍奉队</p>
            <div>
                <img src="https://cdn.banshanren.com/file/s-media/static/image/dark/thumbs_up_icon.svg" alt="推荐度" />
                <span>推荐度 76%</span>
            </div>
        </div>
    </a>
</li><li>
    <a href="/novel/aidemolizhuanquanquan" title="爱的魔力转圈圈">
        <div class="cover_box">
            <img class="cover encrypted-image" src="https://cdn.banshanren.com/file/s-media/static/image/loading.jpg" data-src="https://cdn.banshanren.com/file/s-media/image/cover/7a7cbccef9104351914982403abbe92b.webp" alt="爱的魔力转圈圈"/>
            <div class="cover_line"></div>
        </div>
        <div class="brief_box">
            <p>爱的魔力转圈圈</p>
            <div>
                <img src="https://cdn.banshanren.com/file/s-media/static/image/dark/thumbs_up_icon.svg" alt="推荐度" />
                <span>推荐度 76%</span>
            </div>
        </div>
    </a>
</li><li>
    <a href="/novel/xingyuyouzi" title="星与优子">
        <div class="cover_box">
            <img class="cover encrypted-image" src="https://cdn.banshanren.com/file/s-media/static/image/loading.jpg" data-src="https://cdn.banshanren.com/file/s-media/image/cover/2ecfbbfc23674476bd526a926e421fb6.webp" alt="星与优子"/>
            <div class="cover_line"></div>
        </div>
        <div class="brief_box">
            <p>星与优子</p>
            <div>
                <img src="https://cdn.banshanren.com/file/s-media/static/image/dark/thumbs_up_icon.svg" alt="推荐度" />
                <span>推荐度 76%</span>
            </div>
        </div>
    </a>
</li>        </ul>
    </div>
    <div class="novel_bottom_box h5">
            <div class="add shelf_box" onclick="collect(this, 'https://cdn.banshanren.com/file/s-media/static', 'dark', '1273221589953265664')">
                <img src="https://cdn.banshanren.com/file/s-media/static/image/dark/add_shelf_icon.svg" alt="书架"/>
                <span>加入书架</span>
            </div>
            <a class="read_btn" href="/novel/doupozhihanfengdefuchou/1273258741738767170">开始阅读</a>
    </div>
</div>

<div class="dialog_mask"></div>
<script id="comments_template" type="text/html">
    {{each data item itemIndex}}
    <div class="comment_item_box" data-id="{{item.id}}">
        <div class="comment_item_head_box">
            <img class="avatar encrypted-image" src="https://cdn.banshanren.com/file/s-media/static/image/avatar.jpg" data-src="{{item.avatarUrl}}" alt="头像"/>
            <div>
                <p>
                    <span class="nick_name">{{item.nickName}}</span>
                </p>
                <p><span>{{item.updateTimeDesc}}</span></p>
            </div>
        </div>
        {{if item.lineNum == -1}}
        <div class="comment_item_thumbs_box {{(item.recommend == 1)?'active':''}}">
            {{if item.recommend == 1}}
            <img src="https://cdn.banshanren.com/file/s-media/static/image/dark/thumbs_up_solid_icon.svg" alt="赞"/>推荐的
            {{else}}
            <img src="https://cdn.banshanren.com/file/s-media/static/image/dark/thumbs_down_solid_icon.svg" alt="不推荐"/>不推荐
            {{/if}}
        </div>
        {{/if}}
        <div class="comment_item_content_box">
            {{item.content}}
        </div>
        <div class="comment_item_bottom_box">
            <div onclick="vote(this, '{{item.id}}', 1, '{{itemIndex}}', -1, 'https://cdn.banshanren.com/file/s-media/static/image/dark/')">
                <img src="https://cdn.banshanren.com/file/s-media/static/image/dark/thumbs_up{{item.voteDriection==1?'_active':''}}_icon.svg" title="喜欢"/>
                <span>{{item.upvote}}</span>
            </div>
            <div onclick="vote(this, '{{item.id}}', -1, '{{itemIndex}}', -1, 'https://cdn.banshanren.com/file/s-media/static/image/dark/')">
                <img src="https://cdn.banshanren.com/file/s-media/static/image/dark/thumbs_down{{item.voteDriection==-1?'_active':''}}_icon.svg"
                     title="不喜欢"/>
                <span>{{item.downvote}}</span>
            </div>
            <div>
                <img src="https://cdn.banshanren.com/file/s-media/static/image/dark/reply{{item.replied?'_active':''}}_icon.svg" title="回复">
                <span>{{item.replyCount}}</span>
            </div>
            <div id="{{item.id}}"
                 onclick="toggleReplyDialog(this, '{{item.id}}', '{{item.nickName}}', '{{itemIndex}}')">
                <span>回复</span>
            </div>

        </div>
        <div class="comment_reply_container"></div>
        {{each item.children child childIndex}}
        <div class="comment_item_child_box">
            <div class="comment_item_box" data-id="{{child.id}}">
                <div class="comment_item_head_box">
                    <img class="avatar encrypted-image" src="https://cdn.banshanren.com/file/s-media/static/image/avatar.jpg" data-src="{{child.avatarUrl}}"
                         alt="头像"/>
                    <div>
                        <p>
                            <span class="nick_name">{{child.nickName}}</span>
                        </p>
                    </div>
                </div>
                <div class="comment_item_content_box">
                    回复{{child.replyNickName}}的评论：{{child.content}}
                </div>
                <div class="comment_item_bottom_box">
                    <div onclick="vote(this, '{{child.id}}', 1, '{{itemIndex}}', '{{childIndex}}', 'https://cdn.banshanren.com/file/s-media/static/image/dark/')">
                        <img src="https://cdn.banshanren.com/file/s-media/static/image/dark/thumbs_up{{child.voteDriection==1?'_active':''}}_icon.svg"
                             title="喜欢"/>
                        <span>{{child.upvote}}</span>
                    </div>
                    <div onclick="vote(this, '{{child.id}}', -1, '{{itemIndex}}', '{{childIndex}}', 'https://cdn.banshanren.com/file/s-media/static/image/dark/')">
                        <img src="https://cdn.banshanren.com/file/s-media/static/image/dark/thumbs_down{{child.voteDriection==-1?'_active':''}}_icon.svg"
                             title="不喜欢"/>
                        <span>{{child.downvote}}</span>
                    </div>
                    <div id="{{item.id}}"
                         onclick="toggleReplyDialog(this, '{{child.id}}', '{{child.nickName}}', '{{itemIndex}}')">
                        <span>回复</span>
                    </div>
                </div>
                <div class="comment_reply_container"></div>
            </div>
        </div>
        {{/each}}
        {{if item.parentId == '0' && (item.replyCount - item.expandedCount) > 0}}
        <div class="comment_item_reply_box"
             onclick="loadReplies('{{item.id}}', '{{item.replyCount - item.expandedCount}}', '{{itemIndex}}')">
            <span>查看回复（{{item.replyCount - item.expandedCount}}）</span> <img src="https://cdn.banshanren.com/file/s-media/static/image/arrow_down_icon.svg"
                                                                                 title="展开"/>
        </div>
        {{/if}}
    </div>
    {{/each}}
</script><script id="comment_pagination_template" type="text/html">
    {{if pages.length > 0}}
    <div class="arrow_box" onclick="loadComments({{currentPage > 1 ? currentPage - 1 : 1}})">
        <img src="https://cdn.banshanren.com/file/s-media/static/image/dark/prev_active_icon.svg" alt="上一页"/>
    </div>
    {{each pages page}}
    {{if page === '...'}}
    <div class="ellipsis">...</div>
    {{else}}
    <div class="{{page === currentPage ? 'current' : ''}}" onclick="loadComments({{page}})">
        {{page}}
    </div>
    {{/if}}
    {{/each}}
    <div class="arrow_box" onclick="loadComments({{currentPage < totalPage ? currentPage + 1 : totalPage}})">
        <img src="https://cdn.banshanren.com/file/s-media/static/image/dark/next_active_icon.svg" alt="下一页"/>
    </div>
    {{/if}}
</script><script id="reply_form_template" type="text/html">
<div id="reply_box" class="reply_form_box">
    <form id="reply_form" onsubmit="sendReply(event)">
        <input type="hidden" name="commentId" value="{{commentId}}"/>
        <input type="hidden" name="index" value="{{index}}"/>
        <textarea name="content" placeholder="回复{{nickName}}"></textarea>
        <div class="btn_box">
            <button type="submit">发送</button>
        </div>
    </form>
</div>
</script><div class="login_regist_dialog">
    <div class="header_box">
        <div class="logo_box">
            <img src="https://cdn.banshanren.com/file/s-media/static/image/dark/logo.png" alt="搬山人图标" />
        </div>
        <button type="button" class="close_btn" onclick="closeLogin()" aria-label="关闭">×</button>
    </div>
    <div class="tab_box">
        <div id="login_tab" class="tab_item" onclick="toggleLogin()">登录</div>
        <div id="regist_tab" class="tab_item" onclick="toggleRegist()">注册</div>
        <div id="forget_tab" class="tab_item">找回密码</div>
    </div>
    <div class="tab_content">
        <div id="login_form_box" class="form_box">
            <form id="login_form" onsubmit="login(event)">
                <div class="input_box">
                    <img src="https://cdn.banshanren.com/file/s-media/static/image/email_icon.svg" alt="邮箱图标" />
                    <img src="https://cdn.banshanren.com/file/s-media/static/image/email_active_icon.svg" class="active" alt="邮箱选中图标" />
                    <input name="login_name" type="text" required placeholder="请输入邮箱地址" />
                </div>
                <div class="input_box">
                    <img src="https://cdn.banshanren.com/file/s-media/static/image/password_icon.svg" alt="密码图标" />
                    <img src="https://cdn.banshanren.com/file/s-media/static/image/password_active_icon.svg" class="active" alt="密码选中图标" />
                    <input name="password" type="password" maxlength="18" required placeholder="请输入密码" />
                    <img src="https://cdn.banshanren.com/file/s-media/static/image/close_eye_icon.svg" class="eye" onclick="showPassword(this, 'https://cdn.banshanren.com/file/s-media/static')" alt="显示/隐藏密码">
                </div>
                <div class="forget_password_box">
                    <span onclick="toggleForget()">忘记密码？</span>
                </div>
                <button type="submit" class="submit_btn">登录</button>
            </form>
        </div>

        <div id="regist_form_box" class="form_box">
            <form id="register_form" onsubmit="regist(event)">
                <div class="input_box">
                    <img src="https://cdn.banshanren.com/file/s-media/static/image/email_icon.svg" alt="邮箱图标" />
                    <img src="https://cdn.banshanren.com/file/s-media/static/image/email_active_icon.svg" class="active" alt="邮箱选中图标" />
                    <input name="login_name" type="text" required placeholder="请输入邮箱地址" />
                </div>
                <div class="input_box code_box">
                    <div>
                        <img src="https://cdn.banshanren.com/file/s-media/static/image/code_icon.svg" alt="验证码图标" />
                        <img src="https://cdn.banshanren.com/file/s-media/static/image/code_active_icon.svg" class="active" alt="验证码选中图标" />
                        <input name="code" type="text" required placeholder="请输入验证码" />
                    </div>
                    <button type="button" class="send_btn" onclick="sendCode(this, 'register_form')">获取验证码</button>
                </div>
                <div class="input_box">
                    <img src="https://cdn.banshanren.com/file/s-media/static/image/password_icon.svg" alt="密码图标" />
                    <img src="https://cdn.banshanren.com/file/s-media/static/image/password_active_icon.svg" class="active" alt="密码选中图标" />
                    <input name="password" type="password" maxlength="20" required placeholder="请设置6-18位密码" />
                    <img src="https://cdn.banshanren.com/file/s-media/static/image/close_eye_icon.svg" class="eye" onclick="showPassword(this, 'https://cdn.banshanren.com/file/s-media/static')" alt="显示/隐藏密码">
                </div>
                <div class="preference_box">
                    <span class="preference_label">内容偏好</span>
                    <div class="gender_box">
                        <div class="gender_item active" onclick="selectRegistGender(this, 0)">全部</div>
                        <div class="gender_item" onclick="selectRegistGender(this, 1)">男频</div>
                        <div class="gender_item" onclick="selectRegistGender(this, 2)">女频</div>
                    </div>
                    <input name="gender" type="hidden" value="0" />
                </div>
                <div class="policy_box">
                    <input type="checkbox" id="agree" name="agree" required value="1" />
                    <label for="agree">注册即表示同意《<a href="/terms" target="_blank" rel="nofollow">用户服务协议</a>》与《<a href="/privacy" target="_blank" rel="nofollow">隐私政策</a>》</label>
                </div>
                <button type="submit" class="submit_btn">注册</button>
            </form>
        </div>

        <div id="forget_form_box" class="form_box">
            <form id="forget_form" onsubmit="forget(event)">
                <div class="input_box">
                    <img src="https://cdn.banshanren.com/file/s-media/static/image/email_icon.svg" alt="邮箱图标" />
                    <img src="https://cdn.banshanren.com/file/s-media/static/image/email_active_icon.svg" class="active" alt="邮箱选中图标" />
                    <input name="login_name" type="text" required placeholder="请输入注册邮箱" />
                </div>
                <div class="input_box code_box">
                    <div>
                        <img src="https://cdn.banshanren.com/file/s-media/static/image/code_icon.svg" alt="验证码图标" />
                        <img src="https://cdn.banshanren.com/file/s-media/static/image/code_active_icon.svg" class="active" alt="验证码选中图标" />
                        <input name="code" type="text" required placeholder="请输入验证码" />
                    </div>
                    <button type="button" class="send_btn" onclick="sendCode(this, 'forget_form')">
                        获取验证码</button>
                </div>
                <div class="input_box">
                    <img src="https://cdn.banshanren.com/file/s-media/static/image/password_icon.svg" alt="密码图标" />
                    <img src="https://cdn.banshanren.com/file/s-media/static/image/password_active_icon.svg" class="active" alt="密码选中图标" />
                    <input name="password" type="password" maxlength="20" required placeholder="请设置新的6-18位密码" />
                    <img src="https://cdn.banshanren.com/file/s-media/static/image/close_eye_icon.svg" class="eye" onclick="showPassword(this, 'https://cdn.banshanren.com/file/s-media/static')" alt="显示/隐藏密码"/>
                </div>
                <button type="submit" class="submit_btn">重置密码</button>
                <div class="back_login_box">
                    <span onclick="toggleLogin()">返回登录</span>
                </div>
            </form>
        </div>

    </div>
</div><div class="reminder_dialog">
    <div class="reminder_content">
        <div class="reminder_header">
            <span>催更赞助</span>
            <img src="https://cdn.banshanren.com/file/s-media/static/image/dark/close_icon.svg" alt="关闭" onclick="toggleReminder(0)"/>
        </div>
        <form class="reminder_form" onsubmit="reminder(event)">
        <input type="hidden" name="novelId" value="1273221589953265664"/>
        <input type="hidden" name="balance" value="1"/>
        <div class="reminder_body">
            <p class="desc">赞助「搬山人」将邮箱通知催更。</p>
            <div class="reminder_options">
                <div class="option_item selected" onclick="changeBalance(this, 1)">1点券</div>
                <div class="option_item" onclick="changeBalance(this, 5)">5点券</div>
                <div class="option_item" onclick="changeBalance(this, 10)">10点券</div>
                <div class="option_item" onclick="changeBalance(this, 20)">20点券</div>
                <input class="option_item" name="balance" type="text" inputmode="numeric"
                       placeholder="自定义" oninput="numberLimit(this)" onclick="changeBalance(this, this.value===''? 0 : this.value)"/>
            </div>
            <div class="reminder_tip">
                <a href="/top-up">点券余额不足，点击去储值</a>
                <div>当前余额 <b>0</b> 点券</div>
            </div>
        </div>
        <button type="submit" class="reminder_btn">立即催更</button>
        </form>
    </div>
</div><div class="complaint_dialog">
    <div class="complaint_content">
        <div class="complaint_header">
            <span>举报作品</span>
            <img src="https://cdn.banshanren.com/file/s-media/static/image/dark/close_icon.svg" alt="关闭" onclick="toggleComplaint()"/>
        </div>
        <form class="complaint_form" onsubmit="complaint(event)">
        <input type="hidden" name="novelId" value="1273221589953265664"/>
        <input type="hidden" name="reason" value="1"/>
        <div class="complaint_body">
            <p class="desc">请选择举报原因：</p>
            <div class="complaint_options">
                <div class="option_item selected" onclick="changeReason(this, 1)">政治敏感</div>
                <div class="option_item" onclick="changeReason(this, 2)">内嵌广告</div>
                <div class="option_item" onclick="changeReason(this, 3)">内容违规</div>
                <div class="option_item" onclick="changeReason(this, 4)">其它</div>
                <textarea class="option_item" name="content" maxlength="200" placeholder="详细说明（200字以内）"></textarea>
            </div>
        </div>
        <button type="submit" class="complaint_btn">提交举报</button>
        </form>
    </div>
</div><script defer src="https://static.cloudflareinsights.com/beacon.min.js/v4513226cdae34746b4dedf0b4dfa099e1781791509496" integrity="sha512-ZE9pZaUXND66v380QUtch/5sE9tPFh2zg45pR2PB0CVkCtOREv2AJKkSidISWkysEuQ0EH8faUU5du78bx87UQ==" data-cf-beacon='{"version":"2024.11.0","token":"772623ae71434308aa05f0a94f408a85","r":1,"server_timing":{"name":{"cfCacheStatus":true,"cfEdge":true,"cfExtPri":true,"cfL4":true,"cfOrigin":true,"cfSpeedBrain":true},"location_startswith":null}}' crossorigin="anonymous"></script>
</body>

</html>